.contact__section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

.contact__section button {
  margin-top: 10px;
}
